.caracteristique__main {
  display: grid;
  justify-content: center;
  align-items: center;
  
  grid-template-columns: repeat(4, 1fr);
  margin-block: 5rem;
  gap: 5rem;
}

.caracteristique__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.caracteristique__information{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
 
}

.caracteristique__information-title{
  font-size: 11px;
  text-align: center;
}



.caracteristique__information-value{
  font-weight: bold;
}


.caracteristique__image {
    border-radius: 100%;
}