.caracteristique__main {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin-block: 3rem;
  gap: 2rem;
  
  
}

.caracteristique__icon {
 
  justify-self: center;
  align-self: center;
  width: 30px;
}

.caracteristique__content {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  
}

.caracteristique__information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: max(6.75rem,7.6666666667vw);
  
  
  
 
}

.caracteristique__information-title{
  font-size: 12px;
  text-align: start;
}



.caracteristique__information-value{
  font-weight: bold;
  font-size: 13px;
}


.caracteristique__image {
    border-radius: 100%;
}

@media screen and (min-width: 540px)  {
  .caracteristique__main {
    grid-template-columns: repeat(2, 1fr);
  }
  
  


}



@media screen and (min-width: 768px)    {
  .caracteristique__main {
    grid-template-columns: repeat(2, 1fr);
  }
  .caracteristique__information-title{
    font-size: 15px;
  }
  .caracteristique__information-value{
    font-weight: bold;
    font-size: 13px;
  }
  .caracteristique__information{
    
    justify-content: center;

  }
  
  .caracteristique__content {
  
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  
  
}
}